<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Système de Détection du Trafic</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css">
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
</head>
<body>
    <nav class="navbar">
        <div class="nav-brand">Système de Détection du Trafic</div>
        <ul class="nav-links">
            <li><a href="{% url 'index' %}">Accueil</a></li>
            <li><a href="{% url 'map_view' %}">Carte</a></li>
            <li><a href="{% url 'stats' %}">Statistiques</a></li>
            <li><a href="{% url 'analyze_local_video'%}">Analyse</a></li
        </ul>
    </nav>

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="footer">
        <p>&copy; 2024 SID3</p>
    </footer>

    {% block extra_js %}
    {% endblock %}
</body>
</html>
